@use "../../responsive" as *;

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-weight: 300;
        }

        button {
          background-color: #fece51;
          padding: 12px 24px;
          //color: wheat;
          border: none;
          cursor: pointer;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        // align-items: center;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
      margin-top: 30px;
    }
    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
