.singlePage{
    display: flex;
    height: 100%;
    .details{
        flex: 3;
        // background-color: red;

        .wrapper{
            padding-right: 50px;
            // background-color: pink;

            .info{
                display:flex;
                flex-direction: column;
              gap: 40px;

                .top{
                    display: flex;
                    justify-content: space-around;
                    .post{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        // background-color: red;
                        .address{

                            display: flex;
                            gap: 5px;
                            align-items: center;
                            font-size: 14px;
                            color: #888;
                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                        .price{
                            padding: 5px;
                            width: max-content;
                            font-weight: 300;

                            background-color: rgba(254, 205, 81, 0.374);
                        }
                    }

                    .user{
                        display: flex;
                        // background-color: red;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding: 0px 50px;
                        background-color: rgba(254, 205, 81, 0.341);
                        border-radius: 10px;
                        font-weight: 600;

                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        span{
                            text-align: center;
                            // background-color: red;
                        }
                    }
                }

                .bottom{

                }
            }
        }
    }

    .features{
        flex: 2;
        background-color: #fcf5f3;
        .wrapper{
            padding: 0px 20px;
        }
    }
}