@use "../../responsive" as *;


.singlePage {
  display: flex;
  height: 100%;

  @include md{
    flex-direction: column;
    overflow: scroll;
  }
  .details {
    flex: 3;
    height: 100%;
    overflow-y: scroll;

    @include md{
      flex: none;
      height: max-content;
      margin-bottom: 50px;
    }

    // background-color: red;

    .wrapper {
      padding-right: 50px;
      // background-color: pink;

      .info {
        display: flex;
        flex-direction: column;
        gap: 40px;

        margin-top: 40px;

        .top {
          display: flex;
          justify-content: space-around;

          @include sm{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
          }
         
          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include sm{
               h1{
                font-size: 32px;
               }
              
               gap: 18px;
            }

            // background-color: red;
            .address {
              display: flex;
              gap: 5px;
              align-items: center;
              font-size: 14px;
              color: #888;
              img {
                width: 16px;
                height: 16px;
              }
              
            }
            .price {
              padding: 5px;
              width: max-content;
              font-weight: 300;

              background-color: rgba(254, 205, 81, 0.374);
            }
          }

          .user {
            display: flex;
            // background-color: red;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 0px 50px;
            background-color: rgba(254, 205, 81, 0.341);
            border-radius: 10px;
            font-weight: 600;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }

            span {
              text-align: center;
              // background-color: red;
            }

            @include sm{
              width: 100%;
              padding: 10px;
              
            }
          }
        }

      }
    }
  }

  .features {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 40px;

    @include md{
      flex: none;
      height: max-content;
      margin-top: 40px;
    }
    .wrapper {
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      img {
        width: 24px;
        height: 24px;
      }

      .title {
        font-weight: bold;
        // margin-bottom: 10px;
        font-size: 18px;

        p{
          margin: 20px 0px;
        }
        
      }

      .feature {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
          background-color: rgba(251, 244, 165, 0.847);
        }

        span {
          font-weight: bold;
        }
        p {
          font-size: 14px;
        }
      }

      .listVertical {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }

      .listHorizontal {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
        margin-top: 20px;

        @include sm{
          display: flex;
          gap:4px;

          .feature{
            display: flex;
            flex-direction: column;
            gap: 2px;
            // align-items: center;
            // justify-content: center;
            //background-color: red;

          }

          span{
            font-size: 14px;
          }
          p{
            font-size: 12px;
          }
        }
      }

      .sizes {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @include lg{
          font-size: 14px;
        }

        .size {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: white;
          padding: 10px;

          border-radius: 10px;
        }
      }

      .mapContainer {
        width: 100%;
        height: 200px;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        // padding: 10px 0px;

        button {
          padding: 15px;
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: white;
          border: 1px solid #fece51;
          cursor: pointer;

          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
