.register {
  display: flex;
  height: 100%;
  //   width: 100%;
  //   justify-content: center;

  .formContainer {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    //flex-direction: column;

    form {
      display: flex;
      flex-direction: column;

      h1{
        font-weight: 300;
        margin-bottom: 10px;
      }

      input {
        padding: 12px;
        margin: 10px 0px;
        font-size: 14px;
      }

      button{
        width: 100%;
        padding: 12px;
        background-color: rgba(41, 182, 165, 0.962);
        border: 0;
        color: white;
        font-weight: bold;
        border-radius: 10px;
      }
      .link{
        margin-top: 15px;
        font-size: 12px;
        text-decoration: underline;
      }

      .error{
        margin: 10px;
        color: red;
        font-weight: 300;
      }

    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      position: absolute;
      right: 0;
    }
  }
}
