.login {
  display: flex;
  height: 100%;

  .formContainer {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;

      h1 {
        font-weight: 300;
        margin-bottom: 10px;
      }

      input {
        padding: 12px;
        margin: 10px 0px;
        font-size: 14px;
      }
      button {
        width: 100%;
        padding: 12px;
        background-color: rgba(41, 182, 165, 0.962);
        border: 0;
        color: white;
        font-weight: bold;
        border-radius: 10px;
      }

      .link {
        margin-top: 15px;
        font-size: 12px;
        text-decoration: underline;
      }
    }
  }

  .imgContainer {
    flex: 2;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fcf5f3;

    img {
      position: absolute;
      //top: 0;
      //right: 0;
      width: 100%;
      // height: 100%;
      // background-color: antiquewhite;
    }
  }
}
