@use "../../responsive.scss" as *;

.login {
  display: flex;
  height: 100vh; 

  @include sm {
    flex-direction: column;
    gap: 50px; 
  }

  .formContainer {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    @include sm {
      flex: none;
      height: auto;
      padding: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 350px; 

      h1 {
        font-weight: 300;
        margin-bottom: 10px;
        text-align: center;
      }

      input {
        padding: 12px;
        margin: 10px 0;
        font-size: 14px;
        outline: none;
      }

      button {
        width: 100%;
        padding: 12px;
        background-color: rgba(41, 182, 165, 0.962);
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;
      }

      .link {
        margin-top: 15px;
        font-size: 12px;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
      }

      .error {
        margin-top: 10px;
        color: red;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
      }
    }
  }

  .imgContainer {
    flex: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcf5f3;

    @include sm {
      flex: none;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
