@use "../../responsive.scss" as *;



.updateProfile{
    display: flex;
    height: 100vh;

    @include sm{
        display: flex;
        flex-direction: column;
    }


    .formContainer{
        display: flex;
        flex: 3;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        form{
            display: flex;
            flex-direction: column;
            gap: 10px;

            input{
                padding: 10px;
                
            }

            button{
                // color: white;
                background-color: rgb(47, 224, 177);
                padding: 10px;
                border: 0;

            }
        }

    }

    .imgContainer{
        flex: 2;

        img{
            width: 100%;
            height: 100%;
        }
    }
}