.chat{
    height: 100%;
    display: flex;
    flex-direction: column;

    .messages{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;

        h1{
            font-weight:300;
        }

        .message{
            background-color: white;
            padding: 15px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            span{
                font-weight: bold;
            }
        }
    }


    .chatBox{
        flex: 1;
        // background-color: red;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;

        .top{
            background-color: #f7c14b85;
            padding: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;


            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }

            .user{
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .close{
                cursor: pointer;
            }
        }

        .center{
            height: 350px;
            overflow: scroll;
            padding: 20px;
            display: flex;
            flex-direction: column;
            
            .chatMessage{
                width: 50%;

                &.own{
                    align-self: flex-end;
                    text-align: right;
                }

                span{
                    font-size: 12px;
                    
                }
            }

        }

        .bottom{
            border-top: 2px solid #f7c14b85;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            textarea{
                flex: 3;
                height: 100%;
                padding: 20px;
                border: none;
            }

            button{
                flex: 1;
                background-color: #f7c14b85;
                height: 100%;
                border: none;
                cursor: pointer;
            }
        }
    }
}