.listPage{
    display: flex;
    height: 100%;

    .listContainer{
        flex: 3;

        .wrapper{
            height: 100%;
            // background: #000;
            padding-right: 50px;
            // margin-right: 20px;
            // padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            overflow-y: scroll;
            padding-bottom: 50px;
            // background-color: red;

        }
    }

    .mapContainer{
        flex: 2;
        background-color: #fcf5f3;
    }
}