@use "../../responsive.scss" as *;

.footer-main {
  display: flex;
  margin-top: 120px;
  width: 100%;
  flex-direction: column;
  background-color: rgb(2, 2, 31);
  //   border: ;
  //   border: 1px solid rbg(#fece51);
  //   background-color: rgb(244, 253, 254);
  // width: 100vw;

  .footer {
    display: flex;
    height: 100%;
    // justify-content: space-between;
    // align-items: center;
    padding: 10px;
    flex-direction: column;

    .footer-logo {
      h2 {
        font-size: 32px;
        margin-bottom: 20px;
        color: white;
      }
      .logo-contact {
        display: flex;
        // background-color: red;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        p {
          color: rgb(215, 215, 215);
          font-size: 14px;
          flex: 4;
        //   color: rgb(78, 76, 76);
        }
        .logo-button {
          display: flex;
          flex: 2;
          // width: 340px;
          //   background-color: blue;
          margin-left: 40px;

          input {
            width: 240px;
            padding: 12px;
            border-right: none;
            border: none;
            // background-color: #fece51;
            font-weight: 300;

            // color: whitesmoke;
          }
          button {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: none;
            border: none;
            // border-left: 0px;
            width: 80px;
            // background-color: rgb(33, 32, 32);
            color: white;
             background-color: #fece51;
          }
        }
      }
    }

    // @include md{
    //     display: flex;
    //     flex-direction: column;
    // }

    .footer-second {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      margin-top: 20px;

      .footer-left {
        display: flex;
        flex: 3;
        justify-content: space-around;

        // background-color: red;

        .footer-links {
          h3 {
            font-size: 22px;
            color: white;
            // color: rgb(15, 15, 95);
          }
          ul {
            // font-size: 14px;
            color: rgb(232, 232, 232);
            padding: 5px;
            // margin-top: 20px;
            // text-decoration: none;

            li {
              // text-decoration: none;
              list-style: none;
              font-size: 14px;
              margin-top: 8px;
              cursor: pointer;
              font-weight: 300;

              &:hover {
                color: #fece51;
                // color: rgb(23, 23, 23);
              }
            }
          }
        }
      }

      .footer-right {
        flex: 1;
        // display: flex;
        .footer-contact {
          h3 {
            color: rgb(201, 199, 199);
            // color: rgb(15, 15, 95);
            font-size: 24px;
            margin-bottom: 10px;
          }
          p{
            font-size: 14px;
            font-weight: bold;
            // color:#fece51;
            color: rgb(200, 198, 198);
            margin-top: 10px;
          }
          .social-icons{
            display: flex;
            gap: 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #fece51;
    padding: 8px;
    // margin: 5px;
    font-size: 12px;
    color: white;
  }
}
