@use "../../responsive" as *;

nav{
  display: flex;
  height: 100px;
  justify-content: space-between;
  // background-color: red;
  align-items: center;
  // position: relative;

  a{
    transition: all 0.4s ease;

    @include sm{
      display: none;
    }

    &:hover{
      scale: 1.05;
    }
  }



  .left{
    flex:3;
    display: flex;
    align-items: center;
    gap: 50px;
    // background-color: yellow;

    .links{
      display: flex;
      gap: 50px;
      align-items: center;
      // background-color: red;
    }

    .logo{
      display: flex;
      font-weight: bold;
      font-size: 20px;
      align-items: center;
      gap: 20px;

     
      img{
        width: 38px;
        // background-color: red;
        // padding: 20px;
      }

      span{

        margin-top: 15px;
        @include md{
          display: none;
        }

        @include sm{
          display: block;
         
        }
      }
    }
  }

  .right{
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    // position: relative;
    // background-color: red;

    @include md{
      background: transparent;
    }

    a{
      padding: 12px 24px;
    }

    .user{
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 10px;


      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }

      span{
        @include sm{
          display: none;
        }
      }

      .profile{
        padding: 12px 24px;
        background-color: #fece51;
        border: none;
        cursor: pointer;
        margin-right: 10px;
        position: relative;

        .notification{
          position: absolute;

          top: -4px;
          right: -4px;
          color: white;
          background-color: red;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }
    }


    .register{
      background-color: #fece51;
    }

    .menuIcon{
      display: none;
      z-index: 999;

      img{
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include sm{
        display: inline;

      }
    }


    .menu{
      position: absolute;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      top: 0;
      right: -50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-size: 20px;
      transition: all 1s ease;
      

      &.active{
        right: 0;
      }

      @include sm{
        a{
          display: initial;
          // margin-top: 1px;
          // background-color: red;
        }
      }
    }



  }
}